<div class="b-example-divider"></div>

<div class="container">
    <header class=" page-header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a routerLink="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <b>Blood Bank Management System</b>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li><button type="button" class="btn btn-link" (click)="dashboard()">Dashboard</button></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2" routerLink='login' *ngIf='rtr.url=="/"'>Login</button> &nbsp;
            <button type="button" class="btn btn-primary" routerLink='signup' *ngIf='rtr.url=="/"'>Signup</button>
            <button type="button" class="btn btn-primary" (click)="doLogout()" *ngIf='rtr.url=="/admin" || rtr.url=="/user"'>Log Out</button>
        </div>
    </header>
</div>


<router-outlet></router-outlet>